{% extends 'index.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="col-3">
  <div class="card">
      <div class="card-header">
          <div class="card-title text-center">
              <h2> Enter OTP </h2>
          </div>
      </div>
        <div class="card-body">
            <div id="counter" class="alert alert-dark text-center" role="alert">
              2 : 00
            </div>
            <div id='msg' class="alert alert-info" role="alert" style="display:none">
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <input id="name" type="hidden" class="form-control" name="user" value="{{ user }}">
                </div>
                <div class="input-group mb-3">
                  <input id="password" type="hidden" class="form-control" name="password" value="{{ password }}">
                </div>
                <div class="input-group mb-3">
                  <input id="otp" type="text" class="form-control" name="otp" placeholder="Enter OTP">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="button" onclick="verifyOTP()" class="btn btn-primary btn-block">Submit</button>
                  </div>
                  <!-- /.col -->
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary btn-block">Resend</button>
                  </div>
                  <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

<script>
    var interval;
    var timer;
    function myFunction() {
        interval = setInterval(updateCountDown, 1000);
        timer = setTimeout(expiryOTP, 120000);
    }

    myFunction();


    const startingMinutes = 2;
    let time = startingMinutes * 60;

    const countDown = document.getElementById('counter')
    const username = document.getElementById('name').value
    const password = document.getElementById('password').value


    function updateCountDown(){
        const minutes = Math.floor(time/60);
        let seconds = time % 60;

        seconds = seconds < 10 ? '0'+seconds : seconds

        countDown.innerHTML = `${minutes} : ${seconds}`;
        time--;

    }

    function expiryOTP(){
        clearInterval(interval)
        var url = '/expiry-otp/'
        $.ajax({
        type : 'POST',
        url: url,
        data: {
        csrfmiddlewaretoken : '{{ csrf_token }}',
        },
        success: function(data){
            countDown.innerHTML = "OTP Expired"

        }
        })
    }


    function verifyOTP() {
        var url = '/verify-user/'
        $.ajax({
        type : 'POST',
        url: url,
        data: {
        csrfmiddlewaretoken : "{{ csrf_token }}",
        otp : document.getElementById('otp').value,
        user : username,
        },
        success: function(data){
            console.log(data)
            if (data == 'url'){
                window.location.replace("/");
            }
            else {
                $('#msg').html(data).fadeIn('slow');
                //$('#msg').html("data insert successfully").fadeIn('slow') //also show a success message
                $('#msg').delay(5000).fadeOut('slow');
            }
        },
        })
    }

</script>

{% endblock %}